.stylingNav {
  width:6rem;
  padding:10px;
  list-style-type: none;
  border:1px solid black;
  text-align: center;
}
.sdow {
  box-shadow: 6px 0px 13px black;
  margin-bottom: 4rem;
  background:lightcyan;
}
.stylingNav:hover {
  background:black;
  color:white;
  border-radius:9px 8px;
  cursor: pointer;
  transition:0.8s;
}